@charset "utf-8";
/* CSS Document */
body {background-color: black;
}

.menu{
	width: 1300px;
	height: 90px;
	background-color: black;
	margin-top: 20px;}

.menu img{
	margin-top: 10px;}

.menu ul{
	list-style: none;
	margin: 0;
	font-size: 24px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-right: 30px;
}

ul {
	float: right;}

ul li{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 50px;
	padding: 15px;
	text-align: center;
	margin: 0;
	}
ul li a{
	color: #E6007E;
	text-decoration: none;
}

ul li a:hover{
	color: white;
}

.presentacion {
	align-content: center;
}

